
/*----    Title Slide    ----*/

.title-slide {
  background-image: url("title-background.png");
  background-size: contain;
  background-color: white;
  color: white;
  vertical-align: bottom!important;
  padding-bottom: 100px;
  padding-left: 110px;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
    color: #8C3031;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow: none;
}

.title-slide h2 {
  margin-bottom: 30px;
}

.title-slide .remark-slide-number{
  display: none;
}

/*----    Progress Bar    ----*/
.remark-slide-number {
  position: inherit;
  color: transparent;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 6px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #8C3031;
}

/*----    Slide Theme    ----*/

h1, h2, h3 {
    color: #8C3031;
}

a:-webkit-any-link {
  color: #8C3031;
}

li, p {
  font-size: 18pt;
  color: #403d3d;
}

li {
  padding-bottom: 8px;
}

/* 50/50 */
.pull-left-50 {
  float: left;
  width: 47%;
}
.pull-right-50 {
  float: right;
  width: 47%;
}

/* 70/30 */
.pull-left-70 {
  float: left;
  width: 67%;
}
.pull-right-30 {
  float: right;
  width: 27%;
}

code {
  background: #f7f7f7;
}

/*----    blockquote    ----*/

blockquote {
  border-left: 5pt solid #8C3031;
  border-radius: 5pt;
  padding-left: 10pt;
  font-size: 18pt;
  color: #403d3d;
}

/*----    text style    ----*/

.color-red {
  color: #8C3031;
}

.color-white {
  color: white;
}

.color-white h3 {
  color: white;
}

.size-25 {
  font-size: 25pt;
}

/*---- size-small ----*/

.size-small li, .size-small p, .size-small td{
  font-size: 14pt;
}

.size-small h1, .size-small h3 {
  margin-bottom: 0px;
}

.size-small table {
  margin-top: 20pt;
}
/*----  end  ----*/

.end {
  background-color: #8C3031;
}

.end h1, .end h2, .end h3 {
    color: white;
}
